.channels {
  display: flex;
}

.channel {
  flex: 0 0 200px;
  overflow: hidden;
}

pre.payload {
  white-space: pre-wrap;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: alias;
}

.stamp {
  font-size: 8px;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.channel > ul {
  display: flex;
  flex-direction: column-reverse;
}

button,
input {
  margin: 0.2em;
  padding: 0.3em;
  line-height: 1.4em;
  border: thin solid lightblue;
  border-radius: 3px;
}
button {
  cursor: pointer;
  margin: 0.2em;
}
input {
  min-width: 300px;
}
.input-item {
  display: inline;
}
