.channels {
  display: flex;
}

.channel {
  flex: 0 0 200px;
  overflow: hidden;
}

pre.payload {
  white-space: pre-wrap;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: alias;
}

.stamp {
  font-size: 8px;
}

ul, li {
  margin: 0;
  padding: 0;
}
